{% extends "base.html" %}

{% block title %} <h2> 회원정보수정 </h2> {% endblock %}
{% block contents %}
{% csrf_token %}
<form method="post" action="modify" name="modifyform">
	<table>
		<tr>
			<th colspan="2"> 
				{% if message %}
					{{message}}
				{% else %}
					비밀번호를 다시 확인하세요
				{% endif %}
			</th>
		</tr>
		<tr>
			<th> 비밀번호 </th>
			<td><input class="input" type="password" name="passwd"></td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="수정">
				<input class="inputbutton" type="button" value="수정취소" onclick="location='main'">
			</th>
		</tr>
	</table>	
</form>


{% endblock %}